<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e016213d-b997-4034-92d2-040f810513eb/resourceGroups/Ipis2/providers/Microsoft.Web/sites/IoTClient</ResourceId>
    <ResourceGroup>Ipis2</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://iotclient.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>iotclient.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>IoTClient</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$IoTClient</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IoT_Test.ClientWebApp.AppDatabase" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:iotdb.database.windows.net,1433;Initial Catalog=IoTdb;User ID=pvelv@iotdb.database.windows.net;Password=Q,avrocb82" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="IoT_Test.ClientWebApp.AppDatabase, IoT_Test.ClientWebApp" MigrationConfiguration="IoT_Test.ClientWebApp.Migrations.Configuration, IoT_Test.ClientWebApp" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="IoT_Test.ClientWebApp.AppDatabase-Web.config Connection String">
      <ParameterValue>Data Source=tcp:iotdb.database.windows.net,1433;Initial Catalog=IoTdb;User ID=pvelv@iotdb.database.windows.net;Password=Q,avrocb82</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="IoT_Test.ClientWebApp.AppDatabase" />
  </ItemGroup>
</Project>